<!DOCTYPE HTML>
<!--
	Dimension by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>{{ .title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <!-- <div class="logo">
            <span class="icon fa-gem"></span>
        </div> -->
        <div class="content">
            <div class="inner">
                <h1>Joshua Machado</h1>
                <p>Third year Computer Science student at the University of Victoria</p>
                <p>In search of a fourth Co-op placement</p>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="/spotifyGo" target="blank">SpotifyGo</a></li>
                <li><a href="#education">Education</a></li>
                <li><a href="#experience">Experience</a></li>
                <li><a href="#projects">Projects</a></li>
            </ul>
        </nav>
    </header>

    <ul class="links">
        <li class="icons"><a href="https://www.linkedin.com/in/josh-machado/" class="icon brands fa-linkedin" target="blank"></a></li>
        <li class="icons"><a href="https://github.com/JoshoTheMosho" class="icon brands fa-github" target="blank"></a></li>
        <li><a href="mailto:joshomac505@gmail.com">joshomac505@gmail.com</a></li>
        <li><a href="/assets/pdf/Joshua%20Machado%20Resume.pdf" target="blank">Resume</a></li>
    </ul>

    <!-- Main -->
    <div id="main">

        <!-- Education -->
        <article id="education">
            <h2 class="major">Education</h2>
            <!-- <span class="image main"><img src="images/pic01.jpg" alt="" /></span> -->
            <div class="inLine">
                <h3>University of Victoria</h3>
                <h5>3.7 / 4.0 GPA</h5>
            </div>
            <h4>Bachelor of Science in Computer Science</h4>
            <h5><i>Sep 2020 - Dec 2024</i></h5>
            <hr>
            <p>Specializing in Software Systems with an anticipated grad date of December 2024. I have completed 3/4 co-op placements so far.</p>
            <br>
            <p>Scholarships:</p>
            <ul>
                <li>
                    <p>Fairfax Financial Ltd. Award - Full Ride <i>$24,000</i></p>
                </li>
                <li>
                    <p>University of Victoria Entrance Scholarship <i>$3,000</i></p>
                </li>
            </ul>
            <p>Relevant Courses:</p>
            <ul>
                <li>
                    <p>Database Systems - <i>CSC 370</i></p>
                </li>
                <li>
                    <p>Logic and programming - <i>CSC 322</i></p>
                </li>
                <li>
                    <p>Requirements Engineering - <i>SENG 321</i></p>
                </li>
                <li>
                    <p>Foundations of Computer Science - <i>CSC 320</i></p>
                </li>
                <li>
                    <p>Human Computer Interaction - <i>SENG 310</i></p>
                </li>
                <li>
                    <p>Software Development Methods - <i>SENG 265</i></p>
                </li>
                <li>
                    <p>Computer Architecture - <i>CSC 230</i></p>
                </li>
                <li>
                    <p>Algorithms and Data Structures I/II - <i>CSC 225/226</i></p>
                </li>

            </ul>
        </article>

        <!-- Experience -->
        <article id="experience">
            <h2 class="major">Experience</h2>
            <!-- <span class="image main"><img src="images/pic02.jpg" alt="" /></span> -->
            <div class="inLine">
                <h3>Tradable Bits</h3>
                <h5>Vancouver, BC</h5>
            </div>
            <h4>Software Engineer Intern</h4>
            <h5><i>May 2023 - Sep 2023</i></h5>
            <ul>
                <li>
                    <p>
                        Enhanced the GameTime web application for Maple Leaf Sports & Entertainment group, working closely with their product development team, taking ownership of features and delivering them to high-quality standards
                    </p>
                </li>
                <li>
                    <p>
                        Developed and maintained Python, Javascript, and SQL codebase for various projects using the Flask framework, the Underscore.js and Jinja libraries, utilizing HTTP protocol options to ensure optimal data handling
                    </p>
                </li>
                <li>
                    <p>
                        Worked in a UNIX environment, developing mobile web apps using websockets with the socket.io library for enhanced user experience
                    </p>
                </li>
            </ul>

            <hr>

            <div class="inLine">
                <h3>SAP</h3>
                <h5>Vancouver, BC</h5>
            </div>
            <h4>Agile Developer Intern</h4>
            <div class="inLine">
                <h5><i>Jan 2022 - Sep 2022</i></h5><h5><i>2 term placement</i></h5>
            </div>
            <ul>
                <li>
                    <p>Created an automatic system setup job cutting 1-2 days of manual configuration down to 30 minutes using REST API collections and oAuth with UAA to verify the pseudo-service</p>
                </li>
                <li>
                    <p>
                        Automated and assigned ownership of 34,000+ files to different teams making the process take 95% less time by utilizing Python and Bash with Git
                    </p>
                </li>
                <li>
                    <p>Designed and produced a Jenkins job to load dummy users onto systems, tested by loading 1,500,000 users at over 10,000 users per hour with peak load and stability using public and internal REST APIs</p>
                </li>
                <li>
                    <p>
                        Managed GIT branch for 10 teams of 12 developers, maintained two merges every day through monitoring Jenkins CI/CD Pipelines and reverting regressions
                    </p>
                </li>
            </ul>
        </article>

        <!-- Projects -->
        <article id="projects">
            <h2 class="major">Projects</h2>
            <div class="inLine">
                <h3>Spotify Go</h3>
                <h5><a href="https://jmachado.ca/spotifyGo" target="blank">jmachado.ca/spotifyGo</a></h5>
            </div>
            <h5><i>Aug 2023 - Present</i></h5>
            <ul>
                <li>
                    <p>
                        A web app that allows users to interact with their friends' spotify profiles
                    </p>
                </li>
                <li>
                    <p>
                        Using GO, PostgreSQL, Spotify oAuth and REST API, and docker to run it all
                    </p>
                </li>
            </ul>

            <hr>

            <div class="inLine">
                <h3>VikeLabs CourseUp</h3>
                <h5><a href="https://courseup.vikelabs.ca" target="blank">courseup.vikelabs.ca</a></h5>
            </div>
            <h5><i>Jun 2021 - Present</i></h5>
            <ul>
                <li>
                    <p>
                        CourseUp is an improved alternative course-building tool web application used by thousands of students
                    </p>
                </li>
                <li>
                    <p>
                        Implemented a course requisite section, displaying nested react components
                    </p>
                </li>
                <li>
                    <p>
                        Adjusted the scheduling page to dynamically change size based on courses added
                    </p>
                </li>
                <li>
                    <p>
                        Develop new features and maintain the integrity of code through bug fixes using TypeScript and React.js
                    </p>
                </li>
            </ul>

            <hr>

            <div class="inLine">
                <h3>VikeSec - Security Club</h3>
                <h5>Executive Team member</h5>
            </div>
            <h5><i>Sep 2022 - Present</i></h5>
            <ul>
                <li>
                    <p>
                        Hosted VikeCTF 2023, an inaugural cybersecurity competition with over 1000 participants
                    </p>
                </li>
                <li>
                    <p>
                        Run weekly meetings to teach newcomers to the cybersecurity space, as well as provide new resources for all
                    </p>
                </li>
                <li>
                    <p>
                        Provide a safe environment for all to get hands-on experience with the latest tools for red and blue team activities. Create challenges in the cloud and cryptography areas for people to learn
                    </p>
                </li>
            </ul>

            <hr>

            <h3>Engineering Faculty Community Moderator</h3>
            <h5><i>Sep 2020 - Present</i></h5>
            <ul>
                <li>
                    <p>
                        Oversee 4500+ students in an online environment, ensuring it is a safe space and accessible for all										</p>
                </li>
                <li>
                    <p>
                        Provide help and resources to students, upholding university integrity policies										</p>
                </li>
            </ul>

            <hr>

            <div class="inLine">
                <h3>Discord Study Bot</h3>
                <h5><a href="https://github.com/JoshoTheMosho/Discord-Study-Group-Bot" target="blank">JoshoTheMosho/Discord-Bot</a></h5>
            </div>
            <h5><i>Oct 2020 - Dec 2020</i></h5>
            <ul>
                <li>
                    <p>
                        Used the discord Python libary to develop a study group application
                    </p>
                </li>
                <li>
                    <p>
                        Allowed students to create virtual study groups and notify other members
                    </p>
                </li>
            </ul>
        </article>

        <!-- Contact -->
        <article id="contact">
            <h2 class="major">Contact</h2>
            <form method="post" action="#">
                <div class="fields">
                    <div class="field half">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" />
                    </div>
                    <div class="field half">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" />
                    </div>
                    <div class="field">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" rows="4"></textarea>
                    </div>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Send Message" class="primary" /></li>
                    <li><input type="reset" value="Reset" /></li>
                </ul>
            </form>
            <ul class="icons">
                <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
            </ul>
        </article>

        <!-- Elements -->
        <article id="elements">
            <h2 class="major">Elements</h2>

            <section>
                <h3 class="major">Text</h3>
                <p>This is <b>bold</b> and this is <strong>strong</strong>. This is <i>italic</i> and this is <em>emphasized</em>.
                    This is <sup>superscript</sup> text and this is <sub>subscript</sub> text.
                    This is <u>underlined</u> and this is code: <code>for (;;) { ... }</code>. Finally, <a href="#">this is a link</a>.</p>
                <hr />
                <h2>Heading Level 2</h2>
                <h3>Heading Level 3</h3>
                <h4>Heading Level 4</h4>
                <h5>Heading Level 5</h5>
                <h6>Heading Level 6</h6>
                <hr />
                <h4>Blockquote</h4>
                <blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan faucibus. Vestibulum ante ipsum primis in faucibus lorem ipsum dolor sit amet nullam adipiscing eu felis.</blockquote>
                <h4>Preformatted</h4>
                <pre><code>i = 0;

while (!deck.isInOrder()) {
    print 'Iteration ' + i;
    deck.shuffle();
    i++;
}

print 'It took ' + i + ' iterations to sort the deck.';</code></pre>
            </section>

            <section>
                <h3 class="major">Lists</h3>

                <h4>Unordered</h4>
                <ul>
                    <li>Dolor pulvinar etiam.</li>
                    <li>Sagittis adipiscing.</li>
                    <li>Felis enim feugiat.</li>
                </ul>

                <h4>Alternate</h4>
                <ul class="alt">
                    <li>Dolor pulvinar etiam.</li>
                    <li>Sagittis adipiscing.</li>
                    <li>Felis enim feugiat.</li>
                </ul>

                <h4>Ordered</h4>
                <ol>
                    <li>Dolor pulvinar etiam.</li>
                    <li>Etiam vel felis viverra.</li>
                    <li>Felis enim feugiat.</li>
                    <li>Dolor pulvinar etiam.</li>
                    <li>Etiam vel felis lorem.</li>
                    <li>Felis enim et feugiat.</li>
                </ol>
                <h4>Icons</h4>
                <ul class="icons">
                    <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
                </ul>

                <h4>Actions</h4>
                <ul class="actions">
                    <li><a href="#" class="button primary">Default</a></li>
                    <li><a href="#" class="button">Default</a></li>
                </ul>
                <ul class="actions stacked">
                    <li><a href="#" class="button primary">Default</a></li>
                    <li><a href="#" class="button">Default</a></li>
                </ul>
            </section>

            <section>
                <h3 class="major">Table</h3>
                <h4>Default</h4>
                <div class="table-wrapper">
                    <table>
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Item One</td>
                            <td>Ante turpis integer aliquet porttitor.</td>
                            <td>29.99</td>
                        </tr>
                        <tr>
                            <td>Item Two</td>
                            <td>Vis ac commodo adipiscing arcu aliquet.</td>
                            <td>19.99</td>
                        </tr>
                        <tr>
                            <td>Item Three</td>
                            <td> Morbi faucibus arcu accumsan lorem.</td>
                            <td>29.99</td>
                        </tr>
                        <tr>
                            <td>Item Four</td>
                            <td>Vitae integer tempus condimentum.</td>
                            <td>19.99</td>
                        </tr>
                        <tr>
                            <td>Item Five</td>
                            <td>Ante turpis integer aliquet porttitor.</td>
                            <td>29.99</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="2"></td>
                            <td>100.00</td>
                        </tr>
                        </tfoot>
                    </table>
                </div>

                <h4>Alternate</h4>
                <div class="table-wrapper">
                    <table class="alt">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Item One</td>
                            <td>Ante turpis integer aliquet porttitor.</td>
                            <td>29.99</td>
                        </tr>
                        <tr>
                            <td>Item Two</td>
                            <td>Vis ac commodo adipiscing arcu aliquet.</td>
                            <td>19.99</td>
                        </tr>
                        <tr>
                            <td>Item Three</td>
                            <td> Morbi faucibus arcu accumsan lorem.</td>
                            <td>29.99</td>
                        </tr>
                        <tr>
                            <td>Item Four</td>
                            <td>Vitae integer tempus condimentum.</td>
                            <td>19.99</td>
                        </tr>
                        <tr>
                            <td>Item Five</td>
                            <td>Ante turpis integer aliquet porttitor.</td>
                            <td>29.99</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="2"></td>
                            <td>100.00</td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </section>

            <section>
                <h3 class="major">Buttons</h3>
                <ul class="actions">
                    <li><a href="#" class="button primary">Primary</a></li>
                    <li><a href="#" class="button">Default</a></li>
                </ul>
                <ul class="actions">
                    <li><a href="#" class="button">Default</a></li>
                    <li><a href="#" class="button small">Small</a></li>
                </ul>
                <ul class="actions">
                    <li><a href="#" class="button primary icon solid fa-download">Icon</a></li>
                    <li><a href="#" class="button icon solid fa-download">Icon</a></li>
                </ul>
                <ul class="actions">
                    <li><span class="button primary disabled">Disabled</span></li>
                    <li><span class="button disabled">Disabled</span></li>
                </ul>
            </section>

            <section>
                <h3 class="major">Form</h3>
                <form method="post" action="#">
                    <div class="fields">
                        <div class="field half">
                            <label for="demo-name">Name</label>
                            <input type="text" name="demo-name" id="demo-name" value="" placeholder="Jane Doe" />
                        </div>
                        <div class="field half">
                            <label for="demo-email">Email</label>
                            <input type="email" name="demo-email" id="demo-email" value="" placeholder="jane@untitled.tld" />
                        </div>
                        <div class="field">
                            <label for="demo-category">Category</label>
                            <select name="demo-category" id="demo-category">
                                <option value="">-</option>
                                <option value="1">Manufacturing</option>
                                <option value="1">Shipping</option>
                                <option value="1">Administration</option>
                                <option value="1">Human Resources</option>
                            </select>
                        </div>
                        <div class="field half">
                            <input type="radio" id="demo-priority-low" name="demo-priority" checked>
                            <label for="demo-priority-low">Low</label>
                        </div>
                        <div class="field half">
                            <input type="radio" id="demo-priority-high" name="demo-priority">
                            <label for="demo-priority-high">High</label>
                        </div>
                        <div class="field half">
                            <input type="checkbox" id="demo-copy" name="demo-copy">
                            <label for="demo-copy">Email me a copy</label>
                        </div>
                        <div class="field half">
                            <input type="checkbox" id="demo-human" name="demo-human" checked>
                            <label for="demo-human">Not a robot</label>
                        </div>
                        <div class="field">
                            <label for="demo-message">Message</label>
                            <textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="Send Message" class="primary" /></li>
                        <li><input type="reset" value="Reset" /></li>
                    </ul>
                </form>
            </section>

        </article>

    </div>

    <!-- Footer -->
    <footer id="footer">
        <p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>. Photo: <a href="https://unsplash.com/@davehoefler?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Dave Hoefler</a> on <a href="https://unsplash.com/s/photos/pacific-northwest?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
        </p>
    </footer>

</div>

<!-- BG -->
<div id="bg"></div>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>

</body>
</html>
