<!DOCTYPE html>
<html>
    <head>
        <title>{{ .title }}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/assets/spotifyGo/css/main.css" />
        <noscript><link rel="stylesheet" href="/assets/spotifyGo/css/noscript.css" /></noscript>
    </head>
    <body class="is-preload">
        <!-- Sidebar -->
        <section id="sidebar">
            <span class="inner">
                <nav>
                    <ul>
                        <li><a href="/">Portfolio</a></li>
                        <li><a href="/spotifyGo">SpotifyGo</a></li>
                        <li><a href="/spotifyGo/login">Login</a></li>

                        {{if .IsAuthenticated}}
                            <li class="profile">
                                <img src="{{ .profilePic }}">
                                <span class="username">{{ .username }}</span>
                            </li>
                        {{else}}
                            <p>Not currently authenticated.</p>
                        {{end}}
                    </ul>
                </nav>
            </div>
        </section>

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Intro -->
            <section id="intro" class="wrapper style1 fullscreen fade-up">
                <div class="inner">
                    <h1>SpotifyGo</h1>
                    <p>This web app allows you to visualize your Spotify data.<p><a href="/spotifyGo/login">Ensure you are logged in</a> to use SpotifyGo.</p></p>
                    <ul class="actions">
                        <li><a href="#main" class="button scrolly">Begin</a></li>
                    </ul>
                </div>
            </section>

            <!-- Main -->
            <section id="main" class="wrapper">
                <div class="inner">
                    <h1 class="major">Coming soon!</h1>
                    <span class="image fit"><img src="images/pic04.jpg" alt="" /></span>
                        <p>This web app is in progress. Check back here soon for updates!</p>
<!--                    <p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque in mi eu massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar mauris. Curabitur sapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque enim turpis, hendrerit tristique.</p>-->
<!--                    <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fersapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque enim turpis, hendrerit tristique lorem ipsum dolor.</p>-->
                </div>
            </section>

        </div>

        <!-- Footer -->
        <footer id="footer" class="wrapper style1-alt">
            <div class="inner">
                <ul class="menu">
                    <li>&copy; SpotifyGo. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                </ul>
            </div>
        </footer>

        <!-- Scripts -->
        <script src="../assets/spotifyGo/js/jquery.min.js"></script>
        <script src="../assets/spotifyGo/js/jquery.scrollex.min.js"></script>
        <script src="../assets/spotifyGo/js/jquery.scrolly.min.js"></script>
        <script src="../assets/spotifyGo/js/browser.min.js"></script>
        <script src="../assets/spotifyGo/js/breakpoints.min.js"></script>
        <script src="../assets/spotifyGo/js/util.js"></script>
        <script src="../assets/spotifyGo/js/main.js"></script>
    </body>
</html>
