<!DOCTYPE html>
<html>
    <head>
        <title>{{ .title }}</title>
        <link rel="stylesheet" href="/assets/css/spotifyGo.css" />
    </head>
    <body>
        <h1 class="content">🚧 Coming soon! 🚧</h1>
    </body>
</html>